@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

h1 {
font-size: 2.5rem;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    align-items: center;
    
}

.navBtns {
    font-size: 1.5rem;
    color: black;
    border-radius: .5rem;
    height: 2rem;
}
