[class$="-todoContainer"] {
    margin: 20px;
    border-radius: 20px;
    border: 2px black solid;
    box-shadow: 5px 5px 5px grey;
    padding-left: 20px;
    background-color: rgb(175, 218, 255);
    padding-bottom: 10px;
}

.collapsed p,
.collapsed .edit-btn {
    display: none;
  }

.collapsed {
    margin: 20px;
    border-radius: 20px;
    border: 2px black solid;
    box-shadow: 5px 5px 5px grey;
    padding-left: 20px;
    padding-bottom: 10px;
    background: linear-gradient(rgb(101, 102, 104), rgb(175, 218, 255));

}